doctype html
html(lang="zh-cn")
    head
        include ./public/head
        block head

    body(class= pageType ? pageType : '')
        include ./public/navbar
        block content

        include ./public/footer
        script(src="/javascripts/jquery.min.js")
        script(src="/javascripts/bootstrap.min.js")
        block script