//
   Created by MorenYang on 2016/11/16.

extends ../layout
block content
    .container
        .page-guide-bar
            h2.title#guide-bar-title 隐私权政策、服务条款以及免责声明
        .findcards-policies-page-content
            .col-sm-4.policies-menu-sidebar.findcards-sidebar
                ul.list-group.list-level_one
                    li
                        a(href='#privacy-policy') 隐私权政策
                        ul.list-level_two
                            li
                                a(href='#privacy-policy-1') 你可能会输入到网站中的信息
                            li
                                a(href='#privacy-policy-2')  我们收集的信息
                            li
                                a(href='#privacy-policy-3') 你如何访问和控制自己的个人信息
                            li
                                a(href='#privacy-policy-4') 我们可能如何使用信息
                            li
                                a(href='#privacy-policy-5') 我们将如何展示收集到的信息
                            li
                                a(href='#privacy-policy-6') 关于隐私权的相关声明
                            li
                                a(href='#privacy-policy-7') 隐私权政策的适用范围
                            li
                                a(href='#privacy-policy-8') 变更
                    li
                        a(href='#terms')  服务条款
                            ul.list-level_two
                                li
                                    a(href='#terms-1') 欢迎使用 findCards
                                li
                                    a(href='#terms-2') 使用服务
                                li
                                    a(href='#terms-3') 你的账户
                                li
                                    a(href='#terms-4') 隐私权保护
                                li
                                    a(href='#terms-5') 你在我们服务中发布的内容
                                li
                                    a(href='#terms-6') 修改和终止服务
                                li
                                    a(href='#terms-7') 关于本条款
                    li
                        a(href="#exemption") 免责声明

            .col-sm-8.policies-main-contents
                h2(id='privacy-policy') 隐私权政策
                p 隐私权是你重要的权利，因此我们非常重视你的隐私权利。你在使用我们的服务时，我们可能会收集和使用你的相关信息。因此我们制定了涵盖如何收集、使用和储存和分享你的相关信息的隐私权政策，希望你仔细阅读。
                p 你在使用或继续使用我们的服务，即意味着同意我们按照本《隐私政策》收集、使用、储存和分享你的相关信息。
                h4(id='privacy-policy-1') 你可能会输入到网站中的信息
                p 我们在向你提供服务时，可能会要求向网站中输入以上所述的个人信息，但不代表本网站使用或保存这些信息。你可能会向网站中输入的信息如下：
                    ul
                        li 你的学号
                        li 你的姓名
                        li 你的教务系统密码
                        li 你的银行卡号
                        li 你的手机号码
                        li 你的微信号码
                        li 你的其他联系方式
                h4(id='privacy-policy-2') 我们收集的信息
                p 使用本网站服务时，我们可能会在服务器中记住某些信息以便于提供服务。我们只会在必要时选择性保存你提交的信息。我们可能收集并保存的信息如下：
                    ul
                        li 你的学号（必要）
                        li 你的银行卡号
                        li 你的姓名
                        li 你的昵称（必要）
                        li 你的手机号（必要）
                        li 你的微信号
                        li 你的其他联系方式
                        li 你使用网站服务时的时间（必要）
                h4(id='privacy-policy-3') 你如何访问和控制自己的个人信息
                p 我们将尽一切可能采取适当的技术手段，保证你可以访问、更新和更正自己的注册信息或使用我们的服务时提供的其他个人信息。在访问、更新、更正和删除前述信息时，我们可能会要求你进行身份验证，以保障账户安全。
                h4(id='privacy-policy-4') 我们可能如何使用信息
                p 我们可能将在向你提供服务的过程之中所收集的信息用作下列用途：
                    ul
                        li 向你提供服务。
                        li 你的学号将会被系统记录以作为用户唯一标识符。在某些情况下，你的学号将被用以信息匹配服务。
                        li 你的手机号、银行卡号（非必填）、微信号（非必填）、将会用以信息匹配服务。

                h4(id='privacy-policy-5') 我们将如何展示收集到的信息
                p 除以下情形外，未经你同意，我们不会与任何第三方展示你的个人信息。你的信息可能被展示的用途如下：
                    ul
                        li 你的昵称（必填）、你输入的银行卡号（非必填）、手机号（必填）、微信号（非必填）、学号（某些情况下必填）、名字（非必填）将只会向用户本人和信息匹配的用户以及网站管理员展示。
                h4(id='privacy-policy-6') 关于隐私权的相关声明
                p 我们在获取你的信息的同时，做出以下声明和承诺
                    ul
                        li 你输入的所有信息将不会用于任何非信息匹配服务的用途
                        li 网站不会向外导出你提交的任何信息
                        li 由于身份验证使用教务辅助管理系统模拟登录的方式，你的教务系统用户名和密码将不会被服务器保存
                h4(id='privacy-policy-7') 隐私权政策的适用范围
                p 除某些特定服务外，我们所有的服务均适用本《隐私政策》。针对某些特定服务的特定隐私政策，将更具体地说明我们在该等服务中如何使用你的信息。该特定服务的隐私政策构成本《隐私政策》的一部分。如相关特定服务的隐私政策与本《隐私政策》有不一致之处，适用该特定服务的隐私政策。
                h4(id='privacy-policy-8') 变更
                p 我们可能适时修订本《隐私政策》的条款，该等修订构成本《隐私政策》的一部分。如该等修订造成你在本《隐私政策》下权利的实质减少，我们将在修订生效前通过在主页上显著位置提示或向你发送电子邮件或以其他方式通知你。在该种情况下，若你继续使用我们的服务，即表示同意受经修订的本《隐私政策》的约束。

                h2(id='terms') 服务条款
                h4(id='terms-1') 欢迎使用 findCards
                p 感谢你使用我们的产品和服务（下称“服务”）。服务由findCards提供。
                p 你使用我们的服务即表示你已同意本条款。请仔细阅读.
                h4(id='terms-2') 使用服务
                p 你必须遵守服务中提供的所有政策。
                p 请勿滥用我们的服务。举例而言，请勿干扰我们的服务或尝试使用除我们提供的界面和指示以外的方法访问这些服务。你仅能在法律允许的范围内使用我们的服务。如果你不遵守我们的条款或政策，或者我们在调查可疑的不当行为，我们可以暂停或停止向你提供服务。
                p 使用我们的服务并不让你拥有我们的服务或你所访问的内容的任何知识产权。除非你获得相关内容所有者的许可或通过其他方式获得法律的许可，否则你不得使用服务中的任何内容。
                p 在你使用服务的过程中，我们可能会向你发送服务公告、管理消息和其他信息。
                p 我们的部分服务可在移动设备上使用。在使用此类服务时，请勿因此而分散注意力和违反交通或安全法。
                h4(id='terms-3') 你的账户
                p 为了使用我们的某些服务，你可能需要一个findCards 帐户。这个账户需要你使用北京师范大学珠海分校的教务系统账号密码进行登录验证和激活。此过程中，我们的服务器不会保存你的密码。
                p 为了保护你的账户，请务必保管好你的密码并对外保密。你应对自己 findCards 帐户上发生的活动或通过该帐户进行的活动负责。
                h4(id='terms-4') 隐私权保护
                p 我们的隐私权政策介绍了你在使用我们的服务时，我们会如何处理你的个人数据和保护你的隐私。使用我们的服务即表示你同意findCards可以按照我们的隐私权政策使用你的个人数据。
                h4(id='terms-5') 你在我们服务中发布的内容
                p 当你将内容上传、提交、存储或发送到我们的服务，以及通过我们的服务上传、提交、存储、发送或接收内容时，代表你授予findCards允许使用、处理、储存和分享你上传、提交、存储、发送的权力。
                h4(id='terms-6') 修改和终止服务
                p 我们始终在不断更改和改进我们的服务。我们可能会增加或删除功能，也可能暂停或彻底停止某项服务。
                p 你可以随时停止使用我们的服务，尽管我们对此表示非常遗憾。findCards 也可能随时停止向你提供服务，或随时对我们的服务增加或设置新的限制。
                h4(id='terms-7') 关于本条款
                p 我们可以修改上述条款或任何适用于某项服务的附加条款，例如，为反映法律的变更或我们服务的变化而进行的修改。你应当定期查阅本条款。我们会在本网页上公布这些条款的修改通知。我们会在适用的服务中公布附加条款的修改通知。所有修改的适用不具有追溯力，且会在公布十四天或更长时间后方始生效。但是，对服务新功能的特别修改或由于法律原因所作的修改将立即生效。如果你不同意服务的修改条款，应停止使用服务。
                p 如果你不遵守本条款，且我们未立即采取行动，并不意味我们放弃我们可能享有的任何权利（例如，在将来采取行动）。
                p 如果某一条款不能被强制执行，这不会影响其他条款的效力。
                h2(id='exemption') 免责声明
                p 在使用本网站提供的服务时，代表你已经同意此免责声明。
                ul
                    li findCards 不能保证用户提交内容的真实性进行保证
                    li 作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。findCards 不承担任何法律及连带责任。
                    li findCards 不保证网络服务一定能满足用户的要求，也不保证网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作保证。
                    li 对于因不可抗力或知乎不能控制的原因造成的网络服务中断或其它缺陷，findCards 不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。
                    li findCards 对因内容真实性造成的任何损失或连带损失不承担一切责任。
                    li findCards 对因其他原因造成的任何损失或连带损失不承担一切责任。