footer.findcards-footer.theme_placeholder
    .container.footer-container
        .layout
            p
                span(id='footer_normal').
                    &copy;#{year} We <span class="glyphicon glyphicon-heart"></span> findCards. <br class="visible-xs"><span class="hidden-xs">-</span> Makes a better world. <br class="visible-xs"><span class="hidden-xs">-</span> <a href="/policies/#privacy-policy"> 隐私权</a> <a href="/policies/#terms"> 条款 </a> <a href="/policies/#exemption"> 免责声明 </a> <br class="visible-xs visible-sm"><span class="hidden-xs hidden-sm">- </span>
                span(id='footer_ackn') ackn. Bootstrap Glyphicons GoogleFonts