footer.findcards-footer.theme_placeholder
    .container.footer-container
        .layout
            p.
                &copy;#{year} We <span class="glyphicon glyphicon-heart"></span> findCards. <br class="visible-xs"><span class="hidden-xs">-</span> Makes a better world. <br class="visible-xs"><span class="hidden-xs">-</span> ackn. Bootstrap | Glyphicons | GoogleFonts