body
  font-family: 'PingFang SC', 'HanHei SC', Helvetica, Arial, sans-serif

.btn.disabled, .btn[disabled], fieldset[disabled] .btn
  cursor: default !important

.btn-template
  border-radius: 2px
  text-align: center
  white-space: nowrap
  vertical-align: middle
  display: inline-block
  margin-bottom: 0

$time: 0.15s
.transform-template
  transition: all $time ease-in 0s
  -webkit-transition: all $time ease-in 0s
  -moz-transition: all $time ease-in 0s

$theme-blue: #3275c7
$theme-blue-light: #4683ea

